
services:
  db:
    image: mariadb:latest
    restart: always
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      - MARIADB_ROOT_PASSWORD=admin
      - MARIADB_DATABASE=db
      - MARIADB_USER=admin
      - MARIADB_PASSWORD=admin

    ports:
      - "3306:3306"

    volumes:
      - ./mysql-data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 60
      start_period: 40s

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db
